@model Weather

<h2 style="color:green">Weather</h2>

<table class="table table-hover">
    <ul>
        <li>Temperature: @Model.Temp</li>
        <li>FeelsLike: @Model.FeelsLike</li>
        <li>TempMin: @Model.MinTemp</li>
        <li>TempMax: @Model.MaxTemp</li>
        <li>Humidity: @Model.Humidity</li>
        <li>Name: @Model.CityName</li>

      
    </ul>

  
        
    

</table>